$primary-color: #0ea4be;

body{
    background-color: #f0f2f5;
}

.container {
    justify-self: center;
    width: 40%;
    min-width: 400px;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}