.entry{
    width: 100%;
    display: grid;
    font-size: large;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;

    span{
        padding: 5px;
    }

    
}
.entry:nth-child(even) {
    background-color: #ebfdff; // Light gray for even rows
}

.entry:nth-child(odd) {
    background-color: #ffffff; // White for odd rows
}